.row
  #cookie-crumbs
    %ol
      %li= link_to t(:my_company)
      %li= link_to t(:email_accounts)
      %li Email Index

.row
  %h1.page-title
    Email Index -
    = emails.count

- inboxes = inbox.account.inboxes
.row
  .one-quarter
    = render partial: 'emails/inboxes', locals: { inboxes: inboxes, active_inbox: inbox }
    
  .three-quarters
    - emails = inbox.emails
    = form_for :batch, url: root_path, method: :get do |f|
      .btn-group
        = button_tag t(:sales), class: 'btn btn-default'
        = button_tag t(:purchase), class: 'btn btn-default'
        = button_tag t(:trash), class: 'btn btn-default'
      %table.table.table-hover
        %tbody
          - emails.each do |email|
            %tr
              %td
                .big-check= f.check_box email.id
              %td.no-padding
                = link_to email_path(email) do
                  %h5.no-margin.all-padding
                    %span.tab= email.from_presentation_google_style
                    %span.bold.dash= email.subject
                    = email.plain_content.truncate 55
                    %span.pull-right= email.created_at.to_s :short
