%section#foreward
  = render partial: 'gtps/preview_contracts/foreward', locals: { presenter: presenter }
%section#parties
  = render partial: 'gtps/preview_contracts/parties', locals: { presenter: presenter }
%section#terms-of-sales
  = render partial: 'gtps/preview_contracts/terms_of_sales', locals: { presenter: presenter }
%section#terms-of-payment
  = render partial: 'gtps/preview_contracts/terms_of_payment', locals: { presenter: presenter }
%section#terms-of-cancellation
  = render partial: 'gtps/preview_contracts/terms_of_cancellation', locals: { presenter: presenter }
%section#fees
  = render partial: 'gtps/preview_contracts/fees', locals: { presenter: presenter }