.row
  #cookie-crumbs
    %ol
      %li= link_to t(:home), root_path
      %li= link_to t(:my_company), merchant_path(current_merchant)
      %li= link_to t(:material_purchase_wishlists), sells_path
      %li
        = link_to negotiation_path(interactor.negotiation) do
          = t(:material_purchase_wishlist)
          = "##{interactor.id}"
      %li
        = t(:tags)

.row
  .four-quarters
    %ul.list-group
      - np = interactor.negotiation_presenter
      %li.list-group-item.inactive
        = render partial: 'fox_yam/negotiations/summaries/owner', locals: { presenter: np }
      %li.list-group-item.inactive
        = render partial: 'fox_yam/negotiations/summaries/title', locals: { presenter: np }
      %li.list-group-item.inactive
        = render partial: 'fox_yam/negotiations/summaries/asking_price', locals: { presenter: np }

.row
  .four-quarters
    = render partial: 'shared/errors', locals: { errors: interactor.errors }

.row
  .two-quarters
    %legend= t(:new_material_listing)
    %dl
      %dt= t(:listing_type)
      %dd= interactor.negotiation.negotiation_type
      %dt= t(:merchant_name)
      %dd= interactor.merchant.try(:name)

  .two-quarters
    %legend= t(:your_offer_details)
    - conversation = interactor.conversation
    %ul.list-group
      = render partial: 'conversations/tags/tag', collection: conversation.tags
      - hash = { url: sell_conversation_tags_path(conversation) }
      - dropdowns = [:price, :quantity, :packing, :other]
      = render partial: 'conversations/tags/tag_form', locals: { i: interactor, h: hash, dropdowns: dropdowns }

    = link_to negotiation_path(interactor.negotiation), class: 'btn btn-default btn-sm' do
      %i.fa-chevron-left
      = t(:back)
    - out_path = sell_conversation_pictures_path(conversation)
    = link_to out_path, class: 'btn btn-primary btn-lg' do
      = t(:next)
      %i.fa-chevron-right

.row
  .four-quarters
    %legend= t(:pictures)
    %dl
      %dt= t(:upload_pictures)
