- accs = presenter.email_accounts
- acid = presenter.account_id
.row
  #cookie-crumbs
    %ol
      %li= link_to t(:my_merchant_account), merchant_path(presenter.merchant)
      %li= link_to t(:my_email_accounts), merchant_email_accounts_path(presenter.merchant)
      %li
        = link_to email_account_email_inboxes_path(presenter.account) do
          %span.dash= presenter.email_address
          = t(:inboxes)
      %li
        = presenter.email_address
        = t(:account_preferences)

.row
  .one-quarter
    .list-group
      = link_to email_account_email_inboxes_path(presenter.account), class: 'list-group-item' do
        %i.fa-chevron-left
        = t(:email_accounts_index)
      = render partial: 'merchants/email_accounts/account', collection: accs, locals: { active_id: acid }
  
  .three-quarters
    .list-group
      .list-group-item
        %h4= t(:preferences)
      .list-group-item
        %span.colon.bold= t(:time_since_last_scrap)
        = time_ago_in_words_with_nil presenter.last_scrapped_at
      .list-group-item
        - if presenter.can_scrap?
          = form_for :scrape_accounts, url: scrape_account_path(presenter.account), method: :put do |f|
            = button_tag type: :submit, class: 'btn btn-block btn-default' do
              %i.fa-cloud-download
              = t(:queue_scrap!)
        - else
          %span.colon.bold= t(:scrap_again_in)
          = time_ago_in_words_with_nil presenter.future_scrap_at