- presenter = interactor.presenter
.row
  #cookie-crumbs
    %ol
      %li= link_to t(:my_merchant_account), merchant_path(presenter.merchant)
      %li= link_to t(:negotiations_index), merchant_negotiations_path(presenter.merchant)
      %li
        = link_to negotiation_path(presenter.negotiation) do
          = t(:negotiation)
          = '#'
          = presenter.negotiation_id
      %li
        = link_to offer_path(presenter.offer) do
          = t(:offer)
          = '#'
          = presenter.offer_id
      %li
        = t(:finalize_offer_uh_oh_error)

.row
  .four-quarters  
    = render partial: 'fox_yam/shared/errors_collection', locals: { collection: interactor.errors_collection }

.row
  .one-quarter
    = link_to offer_line_items_path(interactor.offer), class: 'btn btn-default btn-lg btn-block' do
      %i.fa-chevron-left
      = t(:go_back)