.row
  #cookie-crumbs
    %ol
      %li= link_to t(:my_company)
      %li= link_to t(:email_accounts)
      %li= link_to t(:email_inbox)
      %li= link_to t(:email)
      %li= link_to t(:new_negotiation)
      %li= link_to t(:negotiation_tags)
      %li= t(:picture_tags)

- email = interactor.email
- negotiation = interactor.negotiation
- conversation = interactor.conversation
- offer = conversation.offer
.row
  .four-quarters
    .well.plain= interactor.email_text

.row
  .four-quarters
    = render partial: 'shared/errors', locals: { errors: interactor.errors }

.row
  .one-quarter
    %legend= t(:negotiation_filing)
    %dl
      %dt= t :negotiation_reference
      %dd= link_to "negotiation##{negotiation.id}", negotiation_path(negotiation)
  .one-quarter
    %legend= t(:other_party)
    %dl
      %dt= t(:from)
      - email.from.each do |person|
        %dd
          %span.dash= person.name
          %span.italic
            = "#{person.mailbox}@#{person.host}"
      %dt= t(:company_name)
      %dd= link_to offer.company.name, company_path(offer.company)
      %dt= t(:offer_type)
      %dd= offer.offer_type
  .two-quarters
    %legend= t(:gist_of_this_email)
    %ul.list-group
      = render partial: 'conversations/tags/tag', collection: conversation.tags

.row
  .four-quarters
    %legend= t(:picture_tags)
.row
  = render partial: 'conversations/pictures/attachment', collection: interactor.attachments, locals: { i: interactor }

.row
  .four-quarters
    = link_to conversation_tags_path(conversation), class: 'btn btn-default btn-sm' do
      %i.fa-chevron-left
      = t(:back)
    = link_to negotiation_path(negotiation), class: 'btn btn-primary btn-lg' do
      = t(:next)
      %i.fa-chevron-right