<h2>Dear <%= @presenter.recipient %></h2>
<p><%= @presenter.quantity %> loads of <%= @presenter.material %></p>
<p>40k/HC</p>
<p><%= Faker::Lorem.paragraph %></p>
<p>Sincerely,</p>
<p><%= @presenter.writer %></p>