.row
  #cookie-crumbs
    %ol
      %li= link_to t(:home), root_path
      %li= t(:purchase_wishlists)

.row
  .one-quarter
    .list-group
      .list-group-item.inactive
        %i.fa-chevron-right
        %span.bold= t(:materials_for_sale)
      .list-group-item.inactive
        %i.fa-chevron-down
        %span.bold= t(:purchase_wishlists)
      - presenter.materials.each do |material|
        = link_to "?m=#{material.id}", class: 'list-group-item' do
          %i.fa-tag
          = material.material
  .three-quarters
    .well.well-sm
      %span.bold.dash= t(:results)
      = presenter.negotiations.count
    .list-group
      - if current_merchant.present?
        - out_path = new_merchant_wishlist_path(current_merchant)
      - else
        - out_path = new_anon_wishlist_path
      = link_to out_path, class: 'list-group-item bold' do
        %h4
          %i.fa-plus
          = t(:new_purchase_wishlist)
    .list-group
      = render(partial: 'fox_yam/buys/negotiation', collection: presenter.negotiation_presenters) || t(:no_public_results!)        