.row
  #cookie-crumbs
    %ol
      %li= link_to t(:home), root_path
      %li= link_to t(:my_company), merchant_path(current_merchant)
      %li= link_to t(:material_listings), buys_path
      %li= link_to t(:new_material_listing), edit_listing_path(interactor.negotiation)
      %li= link_to t(:listing_tags), listing_tags_path(interactor.conversation)
      %li= t(:new_pictures)

.row
  .four-quarters
    = render partial: 'shared/errors', locals: { errors: interactor.errors }

.row
  .two-quarters
    %legend= t(:new_material_listing)
    %dl
      %dt= t(:listing_type)
      %dd= interactor.negotiation.negotiation_type
      %dt= t(:merchant_name)
      %dd= interactor.merchant.try(:name)

  .two-quarters
    %legend= t(:other_tags)
    - conversation = interactor.conversation
    %ul.list-group
      = render partial: 'conversations/tags/tag', collection: conversation.tags


.row
  .four-quarters
    %legend= t(:pictures)
    = form_for interactor, url: listing_pictures_path(interactor.conversation), multipart: true do |f|
      .form-group
        = f.label :pictures
        = f.file_field :pictures, class: 'form-control', multiple: true
      = link_to listing_tags_path(interactor.conversation), class: 'btn btn-default btn-sm' do
        %i.fa-chevron-left
        = t(:back)
      = button_tag class: 'btn btn-primary btn-lg' do
        = t(:submit)
        %i.fa-chevron-right
