.row
  #cookie-crumbs
    %ol
      %li= link_to t(:home), root_path
      %li= link_to t(:my_company), merchant_path(current_merchant)
      %li= link_to t(:material_listings), buys_path
      %li= link_to t(:new_material_listing), edit_listing_path(interactor.negotiation)
      %li= link_to t(:listing_tags), listing_tags_path(interactor.conversation)
      %li= t(:new_pictures)

.row
  .four-quarters
    = render partial: 'shared/errors', locals: { errors: interactor.errors }

.row
  .two-quarters
    %legend= t(:new_material_listing)
    %dl
      %dt= t(:listing_type)
      %dd= interactor.negotiation.negotiation_type
      %dt= t(:merchant_name)
      %dd= interactor.merchant.try(:name)

  .two-quarters
    %legend= t(:other_tags)
    - conversation = interactor.conversation
    %ul.list-group
      = render partial: 'conversations/tags/tag', collection: conversation.tags

.row
  .four-quarters
    %legend= t(:pictures)
  - interactor.the_files.each do |f|
    .one-quarter
      .thumbnail
        = image_tag f.url
.row
  .two-quarters
    = form_for interactor, url: listing_pictures_path(interactor.conversation), multipart: true do |f|
      .form-group
        .input-group
          .input-group-btn
            = button_tag type: :submit, class: 'btn btn-info' do
              %i.fa-plus
              = t(:add_pictures)
          = f.file_field :pictures, class: 'form-control', multiple: true


.row
  .four-quarters
    = link_to listing_tags_path(interactor.conversation), class: 'btn btn-default btn-sm' do
      %i.fa-chevron-left
      = t(:back)
    = link_to negotiation_path(interactor.negotiation), class: 'btn btn-primary btn-lg' do
      = t(:done)
      %i.fa-chevron-right