.row
  #cookie-crumbs
    %ol
      %li= link_to t(:my_company)
      %li= link_to t(:email_accounts)
      %li= link_to t(:email_inbox)
      %li= link_to t(:email)
      %li to negotiation

- email = interactor.email
- inboxes = email.account.all_inboxes
- inbox = email.inbox

.row
  .four-quarters
    .well.plain= interactor.email_text

.row
  .four-quarters
    = render partial: 'shared/errors', locals: { errors: interactor.errors }
.row
  = form_for interactor, url: email_negotiations_path(email) do |f|
    .one-quarter
      %legend= t(:negotiation_filing)
      %dl
        %dt= t(:from)
        %dd
          %span.dash= interactor.email_presentation
          %span.italic= interactor.email_address
      .form-group
        = f.label :permalink, t(:negotiation_type)
        .select-control= f.select :permalink, interactor.permalink_types
      = link_to email_path(email), class: 'btn btn-default btn-sm' do
        %i.fa-chevron-left
        = t(:back)
      = button_tag type: 'submit', class: 'btn btn-primary btn-lg' do
        = t(:next)
        %i.fa-chevron-right
          