.row
  #cookie-crumbs
    %ol
      %li= link_to t(:my_merchant_account), merchant_path(presenter.merchant)
      %li= link_to t(:my_email_accounts), merchant_email_accounts_path(presenter.merchant)
      %li
        %span.dash= presenter.email_address
        = t(:inboxes)

.row
  %h1.page-title
    %span.dash= presenter.email_address
    = t(:inboxes)

.row
  .one-quarter
    .list-group
      = link_to new_merchant_email_account_path(presenter.merchant), class: 'list-group-item' do
        %i.fa-plus
        %span.bold= t(:add_email_account)
      = render partial: 'merchants/email_accounts/account', collection: presenter.accounts, locals: { active_id: presenter.active_id }
        
  .one-quarter
    = render partial: 'emails/inboxes', locals: { inboxes: presenter.inboxes }