%span.colon.bold= t(:asking_price)
- if presenter.asking_price.blank?
  = t(:none_given)
- else
  $
  = number_to_currency presenter.asking_price, precision: 4
  %span.bold= presenter.asking_price_term
  = presenter.asking_price_place
