- presenter ||= interactor.presenter
.row
  #cookie-crumbs
    %ol
      %li= link_to t(:my_merchant_account), merchant_path(presenter.merchant)
      %li= link_to t(:negotiations_index), merchant_negotiations_path(presenter.merchant)
      %li
        = link_to negotiation_path(presenter.negotiation) do
          = t(:negotiation)
          = '#'
          = presenter.negotiation_id
      %li
        = link_to offer_path(presenter.offer) do
          = t(:offer)
          = '#'
          = presenter.offer_id
      %li
        = link_to offer_line_items_path(presenter.offer) do
          = t(:reivew_line_items)
      %li
        = link_to preview_contract_path(presenter.contract) do
          = t(:review_contract)
      %li
        = t(:outbound_email)

= form_for interactor, url: contract_outbound_emails_path(presenter.contract) do |f|
  .row
    .one-whole
      .form-group
        %dl
          %dt= t(:from)
          %dd= presenter.merchant.name
      .form-group
        = f.label :to
        = f.text_field :to, class: 'form-control'
      .form-group
        = f.label :cc
        = f.text_field :cc, class: 'form-control'
      .form-group
        = f.label :bcc
        = f.text_field :bcc, class: 'form-control'
      .form-group
        = f.label :subject
        = f.text_field :subject, class: 'form-control'
      .form-group
        = f.label :content
        = f.text_area :content, class: 'form-control big'

  .row
    .one-third
      .list-group
        .list-group-item.inactive
          = t(:picture_attachments)
      - interactor.pictures_presenter.pictures.each do |picture|
        .pic-frame.thumbnail
          = link_to picture.url do
            = image_tag picture.url, class: 'img-responsive'

    .one-third
      .list-group
        .list-group-item.inactive
          = t(:document_attachments)
        = link_to preview_contract_path(presenter.contract), class: 'list-group-item' do
          %i.fa-file-text.fa-lg
          %span.bold
            = t(:sales_and_shipping_contract)
            = '#'
            = presenter.contract.id
        = link_to offer_line_items_path(presenter.offer), class: 'list-group-item' do
          %i.fa-file.fa-lg
          %span.bold
            = t(:sales_order)
            = '# offer'
            = presenter.offer.id
    

  .row
    .one-whole
      = button_tag type: :submit, class: 'btn btn-lg btn-primary' do
        %i.fa-check
        = t(:finish_and_dispatch_email)