.list-group
  .list-group-item.inactive
    %h4= t(:purchase_order_preview)
  .list-group-item.inactive
    %span.colon.bold= t(:price_term)
    = presenter.price_term
    = presenter.price_place
%table.table
  %thead
    %tr
      %th= t(:item_description)
      %th= t(:weight)
      %th= t(:unit_price)
      %th= t(:item_total)
      %th= t(:action)
  %tbody
    = render partial: 'fox_yam/offers/line_item', collection: presenter.line_items
    = form_for interactor, url: offer_line_items_path(presenter.offer) do |f|
      %td
        = f.text_field :item_description, class: 'form-control'
      %td
        .input-group
          = f.number_field :weight, class: 'form-control', step: 1
          %span.input-group-addon
            = 'lb'
      %td
        .input-group
          %span.input-group-addon
            %i.fa-dollar
          = f.number_field :unit_price, class: 'form-control', step: 0.0001
          %span.input-group-addon
            = '/'
            = 'lb'

      %td
        .input-group
          %i.fa-dollar
      %td
        = button_tag type: :submit, class: 'btn btn-xs btn-success' do
          %i.fa-plus

.list-group.align-right
  .list-group-item.inactive
    %span.colon.bold= t(:subtotal)
    = number_to_currency presenter.subtotal