- np = negotiation
= link_to negotiation_path(np.negotiation), class: 'list-group-item' do
  .row
    .one-quarter
      %figure.thumbnail
        = image_tag np.first_attachment_url
    .three-quarters
      .row
        .four-quarters
          .title
            = render partial: 'fox_yam/negotiations/summaries/title', locals: { presenter: np }
      .row
        .four-quarters
          .price-terms
            %span.colon.bold= t(:location)
            Not Implemeneted Yet!
          .seller
            %span.colon.bold= t(:by)
            = np.merchant_name
            %span.colon.bold= t(:created_at)
            = time_ago_in_words np.negotiation.created_at
            = t(:ago)
