.row
  #cookie-crumbs
    %ol
      %li= link_to t(:my_company)
      %li= link_to t(:email_accounts)
      %li= link_to t(:email_inbox)
      %li= link_to t(:email)
      %li= link_to t(:new_negotiation)
      %li Negotiation from email

- email = interactor.email
- negotiation = interactor.negotiation
- conversation = interactor.conversation
.row
  .four-quarters
    .well.plain= interactor.email_text

.row
  .four-quarters
    = render partial: 'shared/errors', locals: { errors: interactor.errors }

.row
  .one-quarter
    %legend= t(:negotiation_filing)
    %dl
      %dt= t :negotiation_type
      %dd New
  .one-quarter
    = form_for interactor, url: conversation_companies_path(conversation) do |f|
      %legend Other Party
      %dl
        %dt= t(:from)
        %dd
          %span.dash= interactor.email_presentation
          %span.italic= interactor.email_address
      .form-group
        = f.label :company_name, t(:company_name)
        = f.text_field :company_name, class: 'form-control'
      .form-group
        = f.label :offer_type, t(:what_is_this_company_doing)
        .select-control= f.select :offer_type, interactor.class.offer_types
      = link_to edit_email_negotiation_path(email, negotiation), class: 'btn btn-default btn-sm' do
        %i.fa-chevron-left
        = t(:back)
      = button_tag type: 'submit', class: 'btn btn-primary btn-lg' do
        = t(:next)
        %i.fa-chevron-right