- n = presenter.negotiation
.list-group
  - if presenter.offer_to_buy?
    = link_to negotiation_path(n, s: 'buyers'), class: 'list-group-item bold' do
      %i.fa-angle-down
      = t(:offers_to_buy)
  - else
    = link_to negotiation_path(n, s: 'buyers'), class: 'list-group-item bold' do
      %i.fa-angle-down
      = t(:offers_to_sell)
  = link_to offer_path(presenter.offer), class: 'list-group-item active' do
    = t(:finalizing)
    = t(:offer)
    = '#'
    = presenter.offer_id