.list-group
  = link_to '?s=summary', class: presenter.navclass('summary') do
    = t(:summary)
  = link_to '?s=transportation', class: presenter.navclass('transportation') do
    = t(:transportation)
  - if presenter.sale_type?
    = link_to '?s=buyers', class: presenter.navclass('buyers') do
      = t(:all_offers)
  - else
    = link_to '?s=sellers', class: presenter.navclass('sellers') do
      = t(:all_offers)
  - if presenter.owner_merchant?(current_merchant)
    = link_to '?s=admin', class: presenter.navclass('admin') do
      = t(:admin)
    = link_to '?s=automate', class: presenter.navclass('automate') do
      = t(:automate)