.four-quarters
  .panel.panel-default
    .panel-heading 
      = check_box_tag 'include'
      = link_to offer_path(offer.id) do
        %span.colon.bold= t(:from)
        = offer.company_name
      .pull-right
        = link_to offer_path(offer.id), method: :delete do
          %i.fa-times
    %ul.list-group
      %li.list-group-item
        %span.colon.bold= t(:conversations)
        = offer.conversations.count
      - if offer.prices.present?
        %li.list-group-item
          %dl
            %dt= offer.price_term
            - offer.prices.each do |price|
              %dd
                $
                = number_with_delimiter price.usd_per_pound, delimiter: ','
                = '/lb'
                %span.bold.colon= t(:received)
                = link_to conversation_path price.conversation do
                  %i.fa-archive
                  = time_ago_in_words price.conversation.created_at
                  = t(:ago)
      - if offer.others.present?
        %li.list-group-item
          - o = offer.others.first
          %span.dash= o.try(:notes)
          %span.italic
            = time_ago_in_words o.created_at
            = t(:ago)