.row
  .four-quarters
    %h2
      - if presenter.public?
        = t(:public_listing)
      - else        
        = t(:private_listing)

.row
  .four-quarters
    %ul.list-group
      %li.list-group-item.inactive
        = render partial: 'fox_yam/negotiations/summaries/owner', locals: { presenter: presenter }
      %li.list-group-item.inactive
        = render partial: 'fox_yam/negotiations/summaries/title', locals: { presenter: presenter }
      %li.list-group-item.inactive
        = render partial: 'fox_yam/negotiations/summaries/asking_price', locals: { presenter: presenter }

.row
  .two-quarters
    .list-group
      = link_to '#make_offer', class: 'list-group-item' do
        %i.fa-plus
        = t(:make_offer)

  .two-quarters
    .list-group
      = link_to '#fork_listing', class: 'list-group-item' do
        %i.fa-code-fork
        = t(:fork_listing)

.row
  - presenter.attachments.each do |attachment|
    .one-quarter
      = link_to attachment.the_file.url, target: :blank, class: 'thumbnail' do
        = image_tag attachment.the_file.url(:thumb)

.row
  .four-quarters
    .well.well-sm
      %span.colon.bold= t(:status)
      - if presenter.public?
        = t(:publicly_listed)
      - else
        = t(:private)
      %span.colon.bold= t(:time_since_creation)
      = time_ago_in_words presenter.negotiation.created_at