.row
  #cookie-crumbs
    %ol
      %li= link_to t(:my_merchant_account), merchant_path(presenter.merchant)
      %li= link_to t(:negotiations_index), merchant_negotiations_path(presenter.merchant)
      %li
        = t(:negotiation)
        = '#'
        = presenter.id

.row
  .three-quarters
    - if params[:s].blank? || 'summary' == params[:s]
      = render partial: 'negotiations/summary'
    - elsif 'transportation' == params[:s]
      = render partial: 'negotiations/transportation'
    - elsif 'offers' == params[:s]
      = render partial: 'negotiations/offers'
    - elsif 'sellers' == params[:s]
      = render partial: 'negotiations/sellers'
    - elsif 'buyers' == params[:s]
      = render partial: 'negotiations/buyers'
    - elsif 'automate' == params[:s]
      = render partial: 'negotiations/automate'
    - else
      = render partial: 'negotiations/error_logo'
  .one-quarter
    = render partial: 'negotiations/navbar'